<PageBar @title="MY ACCOUNT">
</PageBar>
{{notification-container position="top-right" zindex="9999"}}
<div class="accountBody">
  <div class="accountOptions">
    <button class="accountBtns profileBtn {{profileActiveClass}}" {{action "setProfileView"}}><i class="fa fa-user"></i>Profile</button>
    <button class="accountBtns sellerBtn {{sellerActiveClass}}" {{action "setSellerView"}}><i class="fa fa-list"></i>Seller</button>
    <button class="accountBtns bidsBtn {{bidsActiveClass}}" {{action "setBidsView"}}><i class="fa fa-gavel"></i>Bids</button>
    <button class="accountBtns wishlistBtn {{wishlistActiveClass}}" {{action "setWishlistView"}}><i class="fa fa-gift"></i>Wishlist</button>
  </div>
  <div class="accountTabs">
    {{#if isProfileButtonActive}}
      <ProfileView></ProfileView>
    {{/if}}
    {{#if isSellerButtonActive}}
      <SellerView  @activeProducts={{activeProductList}} @soldProducts={{soldProductList}} @userInfo={{userInfo}}></SellerView>
    {{/if}}
    {{#if isBidsButtonActive}}
      <BidsView @bids={{userBids}} @userInfo={{userInfo}} @totalNumberOfBids={{totalNumberOfBids}} @notification={{isPaymentNotificationActive}}></BidsView>
      {{#if (gt bidsButtonsList.length 1)}}
        {{#each bidsButtonsList as |buttonNumber index|}}
          <button class="moreBtn" {{action "exploreMore" "bids" index}}>{{buttonNumber.page}}</button>
        {{/each}}
      {{/if}}
    {{/if}}
    {{#if isWishlistButtonActive}}
      <WishlistView @userWishlist={{userWishlist}} @totalNumberOfWishlist={{totalNumberOfWishlist}} @userInfo={{userInfo}}></WishlistView>
      {{#if (gt wishlistButtonsList.length 1)}}
        {{#each wishlistButtonsList as |buttonNumber index|}}
          <button class="moreBtn" {{action "exploreMore" "wishlist" index}}>{{buttonNumber.page}}</button>
        {{/each}}
      {{/if}}
    {{/if}}
  </div>
</div>
