<div class="loginBox">
  <form class="loginForm" {{action "authenticate" on="submit"}}>
    <div class="loginTitle">
      <p class="titleText">LOGIN</p>
    </div>
    <p class="inputLabel">Enter Email</p>
    {{input value=email class="input" type="email" focus-out=(action (mut showEmailError) true)}}
    {{#if errors}}
      {{#if showEmailError}}
        <div class="error">
          E-mail address <strong>{{luser.email}}</strong> is invalid.
        </div>
      {{/if}}
    {{/if}}
    <p class="inputLabel">Password</p>
    {{input type="password" value=password class="input" focus-out=(action (mut showPasswordError) true)}}
    {{#if errors}}
      {{#if showPasswordError}}
        <div class="error">
          {{v-get luser "password" "message"}}
        </div>
      {{/if}}
    {{/if}}
    {{#if errorMessage}}
      <div class="error">
        Invalid email or password.
      </div>
    {{/if}}
    <div class="rememberMe">
      {{input type="checkbox" class="checkB"}}
      <p for="remember" class="labelCB">Remember me</p>
    </div>
    <button class="loginButton" type="submit">LOGIN</button>

    <button class="loginBFB">LOGIN WITH FACEBOOK</button>
    <button class="loginBGM">LOGIN WITH GMAIL</button>
    <p id="fpass">Forgot Password?</p>
  </form>
</div> 
