<div class={{className}}>
  {{#if (eq this.product.user.email userEmail)}}
    <div class="ownerTag"><p>Your item</p></div>
  {{/if}}
  <div class="imageOptions">
    <button class="watchListBtn" {{action "setWatchList"}}>Watchlist<i class="fa fa-heart {{watchListClass}}"></i></button>
    {{#link-to "product.show" product.id class="linkToClass"}}
      <button class="bidBtn">Bid<i class="fa fa-gavel fa-lg"></i></button>
    {{/link-to}}
  </div>
  <img src={{photo}} alt="">
</div>
<p class="productName">{{this.product.name}}</p>
<p class="productPrice">Start From ${{this.product.startPrice}}</p>
