<form class="loginForm" {{action 'register' on='submit'}}>
  <div id="loginTitle">
    <p id="titleText">REGISTER</p>
  </div>

  <<label for="" class="label">First Name</label>
  {{input value=firstName type="text" class="input"}}

  <label for="" class="label">Last Name</label>
  {{input value=lastName type="text" class="input"}}

  <label for="" class="label">Enter Email</label>
  {{input value=email type="email" class="input"}}

  <label for="" class="label">Password</label>
  {{input type="password" value=password class="input"}}
 
    {{v-get user 'email' 'message'}}
  
  <button class="registerButton" type="submit">REGISTER</button>
  <p id="haveAcc">Already have an account? {{#link-to 'login'}}<span id="liginLink">Login</span>{{/link-to}}</p>
</form>