<div class="wishlistView">
  <div class="accountTable">
    <div class="accountTableHeader">
      <p class="header labelItem">Item</p>
      <p class="header labelName">Name</p>
      <p class="header labelTime">Time left</p>
      <p class="header labelHiBids">Highest Bid</p>
      <p class="header labelStatus">Status</p>
    </div>
    {{#each userWishlist as |wishlist|}}
      <div class="products">
        {{#if (gt wishlist.product.photo.length 0)}}
          <img src={{get wishlist.product.photo "0"}} alt="" class="accountProductImg">
        {{else}}
          <img src="/assets/images/noImage.png" alt="" class="accountProductImg">
        {{/if}}
        <p class="productName">{{wishlist.product.name}}</p>
        <p class="productTime">{{wishlist.timeLeft}} days</p>
        <p class="productPrice">${{wishlist.product.startPrice}}</p>
        <div class="status"><p class={{wishlist.statusClass}}>{{wishlist.status}}</p></div>
        {{#link-to "product.show" wishlist.product.id class="linkToClass"}}
          {{#if (eq wishlist.status "OPEN")}}
            <button class="viewBtn">BID</button>
          {{/if}}
          {{#if (eq wishlist.status "CLOSED")}}
            <button class="viewBtn">VIEW</button>
          {{/if}}
        {{/link-to}}
      </div>
    {{/each}}
  </div>
</div>
