<header>
  <div class="headerLeft">
    <ul>
      <li><a href=""><i class="fa fa-facebook icons"></i></a></li>
      <li><a href=""><i class="fa fa-instagram icons"></i></a></li>
      <li><a href=""><i class="fa fa-twitter icons"></i></a></li>
      <li><a href=""><i class="fa fa-google-plus icons"></i></a></li>
    </ul>
  </div>  
  <div class="headerRight">
    {{#if session.isAuthenticated}}
      <ul>
        <li>{{#link-to "login"}}<span {{action "logout"}} role="button">Logout</span>{{/link-to}}</li>
      </ul>
    {{else}}
      <ul>
        <li><a href="">{{#link-to "login"}}Login{{/link-to}}</a></li>
        <p>   or   </p>
        <li><a href="">{{#link-to "register"}}Create an Account{{/link-to}}</a></li>
        {{#if isAccountActive}}
          <ul>
            <li>Profile</li>
            <li>Become Seller</li>
            <li>Your Bids</li>
            <li>Wishlist</li>
          </ul>
        {{/if}}
      </ul>
    {{/if}}
  </div>
</header>
<nav>
  <div class="navLogo">
    <img src="/assets/images/logo.PNG" alt="">
    {{#link-to "home"}}<p>AUCTION</p>{{/link-to}}
  </div>
  <div class="nav-search">
    <Input @type="text" @placeholder="Try enter: Shoes" @value={{this.search}} @enter={{action "searchProducts"}}/>
  </div>
  <div class="nav-links">
    <ul>
      <li><a href="">{{#link-to "home"}}HOME{{/link-to}}</a></li>
      <li><a href="">{{#link-to "shop"}}SHOP{{/link-to}}</a></li>
      <li><a href="" {{action "myAccount"}}>MY ACCOUNT</a></li>
      {{#if isAccountActive}}
        <ul class="accountList">
          <li class="firstInList {{profileActiveClass}}" {{action "setProfileView"}}>Profile</li>
          <li class="{{sellerActiveClass}}" {{action "setSellerView"}}>Become Seller</li>
          <li class="{{bidsActiveClass}}" {{action "setBidsView"}}>Your Bids</li>
          <li class="{{wishlistActiveClass}}" {{action "setWishlistView"}}>Wishlist</li>
        </ul>
      {{/if}}
    </ul>
  </div>
</nav>
<div class="pageBody">
  {{outlet}}
</div>
<footer>
  <div class="footer-left">
    <h3 class="footerH">AUCTION</h3>
    <p class="footerP">About Us</p>
    <p class="footerP">Tearms and Conditions</p>
    <p class="footerP">Privacy and Policy</p>
  </div>
  <div class="footer-center">
    <h3 class="footerH">GET IN TOUCH</h3>
    <p class="footerP">Call Us at    +123 797-567-2535</p>
    <p class="footerP">support@auction.com</p>
    <ul class="footer-social">
      <li><a href=""><i class="fa fa-facebook icons"></i></a></li>
      <li><a href=""><i class="fa fa-instagram icons"></i></a></li>
      <li><a href=""><i class="fa fa-twitter icons"></i></a></li>
      <li><a href=""><i class="fa fa-google-plus icons"></i></a></li>
    </ul>
  </div>
  <div class="footer-right">
    <h3 class="footerH">NEWSLETTER</h3>
    <p class="footerP">Enter your email address and get notified <br> about new products. We hate spam!</p>
    <input type="email" placeholder="Your Email address">
    <button class="goButton">GO &gt;</button>
  </div>
</footer>